.film-list-wrapper {
    height: 750px;
    overflow-y: scroll;
    z-index: -1;
}

.film-list-item-wrapper {
    position: relative;
    margin: 0 auto;
    margin-top: 150px;
    width: 1000px;
    background: rgba(24, 1, 0, 0.85);
    box-shadow: 0px 10px 20px;
    margin-bottom: 200px;
}

.next-show {
    position: absolute;
    top: 90%;
    left: 5%;
    z-index: 4;
    border: 1px solid white;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    color: white;
}
